body{
  margin: 10;
  padding: 0;
  background: #f5f5f5 !important;
  color: #4d4d4d !important;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.container{
  margin-bottom: 20px;
}
.container .main{
  padding: 20px;
  background: #fff;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.user-list .actions{
  margin-top: 20px;
  margin-bottom: 10px;
}
.user-container{
  width: 700px;
  height: 325px;
  clear: both;
}
.user-container .jumbotron{
  width: 500px;
  text-align: center;
  float: left;
}
.user-list .user-container .jumbotron:hover{
  background-color: #EEEEF2;
  cursor: pointer;
}
.user-list .user-container .edit, .user-list .user-container .remove{
  display: none;
}
.user-list .user-container:hover .edit, .user-list .user-container:hover .remove{
  display: block;
}
.user-container .edit{
  float: right;
  margin-bottom: 65px;
}
.user-container .remove{
  float: right;
}
.hidden{
  display: none;
}
.user-details{
  text-align: left;
}
.user-details .btn{
  float: right;
  margin-bottom: 5px;
}
.{
  width: 500px;
}
.todo .title{
  margin: 5px;
}
.todo .completed{
  cursor: pointer;
}
.todo .todo-check-box{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.todo .remove-todo{
  display: none;
}
.todo:hover .remove-todo{
  display: inline;
  cursor: pointer;
  margin-left: 5px;
}
.user-todos, .user-form{
  margin-top: 10px;
}
.clearFloats{
  clear: both;
}
.container .btn{
  width: 90px;
  margin-right: 10px;
  margin-top: 10px;
}
.user-form .validation-error{
  color: red;
}
.user-todos .create-todo{
  margin-bottom: 10px;
}
.actions-panel{
  font-size: 20px;
}
.actions-panel .glyphicon{
  margin: 3px;
  color: #4d4d4d;
  cursor: pointer;
}
.actions-panel .glyphicon:hover{
  color: #4d4d4d;
  text-decoration: none;
}
.update-user{
  position: relative;
}
.update-user .actions-panel{
  position: absolute;
  right: 0;
  top: 15px;
}
.container .new-user{
  margin-top: 0;
  margin-bottom: 10px;
}

.example-enter {
  opacity: 0.01;
  color: red;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 2000ms ease-in;
}
.example-appear {
  opacity: 0.01;
  color: green;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .2000ms ease-in;
}
