body{
  margin: 10;
  padding: 0;
}
.user-container{
  width: 700px;
  height: 325px;
  clear: both;
}
.user-container .jumbotron{
  width: 500px;
  text-align: center;
  float: left;
}
.user-list .user-container .jumbotron:hover{
  background-color: #EEEEF2;
  cursor: pointer;
}
.user-list .user-container .edit, .user-list .user-container .remove{
  display: none;
}
.user-list .user-container:hover .edit, .user-list .user-container:hover .remove{
  display: block;
}
.user-container .edit{
  float: right;
  margin-bottom: 65px;
}
.user-container .remove{
  float: right;
}
.hidden{
  display: none;
}
.user-details{
  text-align: left;
}
.user-details .btn{
  float: right;
  margin-bottom: 5px;
}
.task{
  width: 500px;
}
.task .title{
  margin: 5px;
}
.task .completed{
  cursor: pointer;
}
.task .remove{
  display: none;
}
.task:hover .remove{
  display: inline;
  cursor: pointer;
}
.user-tasks, .user-form{
  margin-top: 10px;
}
.user-tasks .btn, .user-list .btn{
  margin-bottom: 5px;
}
.clearFloats{
  clear: both;
}
.user-form .btn{
  width: 80px;
  margin-right: 10px;
}
.user-form .validation-error{
  color: red;
}
.user-tasks .create-task{
  margin-bottom: 10px;
}
